  <div class="container">
    <div class="login-box mat-elevation-z24">
        <div class="header">

            <div class="header-content">
                <div class="logo"> <img src="/assets/images/logo96.png" alt="NoteDock logo" height="96" width="96"></div>
                <h1>NoteDock</h1>
                <h4>Reset your password!</h4>
            </div>
        </div>

        <div class="form form-group">
            <!-- Login -->
            <div class="form-fields">

                <mat-form-field>
                    <input matInput placeholder="Enter your email" [formControl]="email" #passwordResetEmail required>
                    <mat-error *ngIf="email.invalid">{{getErrorMsg()}}</mat-error>
                </mat-form-field>

                <button mat-raised-button color="primary" (click)="forgotPassword(passwordResetEmail.value)">Reset Password</button>
                <br>
                <button mat-raised-button color="warn" routerLink="/login">Go to Login</button>
            </div>
        </div>
    </div>
</div>
