  <div class="container">
    <div class="login-box">
        <div class="header">

            <div class="header-content">
                <div class="logo"> <img src="/assets/images/logo96.png" alt="NoteDock logo" height="96" width="96"></div>
                <h1>NoteDock</h1>
                <h4>Welcome!</h4>
            </div>
        </div>

        <div class="form">
            <div class="form-fields" >
                <mat-form-field>
                    <input matInput placeholder="Enter your email" #userEmail required>
                </mat-form-field>

                <mat-form-field>
                    <input matInput type="password" placeholder="Enter your password" #userPassword required>
                </mat-form-field>

                <button mat-raised-button color="primary" (click)='register(userEmail.value, userPassword.value)'>Register</button>
                <br>
                <button mat-raised-button color="warn" routerLink = "/login">Go to Login</button>




            </div> 
        </div>
    </div>
</div>
