<div mat-dialog-content>
    <h2> Profile</h2>
        <mat-form-field>
            <input matInput  [(ngModel)]="data.displayName"  maxlength="20" #displayName>
            <mat-hint>Display Name</mat-hint>
        </mat-form-field>
        <mat-form-field>
            <input matInput value={{userData.email}} #emailAddress>
            <mat-hint>Email address</mat-hint>
        </mat-form-field>
<br>
        <mat-form-field>
            <input matInput [(ngModel)]="userData.phoneNumber" placeholder="Not available" disabled>
            <mat-hint>Phone Number</mat-hint>
        </mat-form-field>

        <mat-form-field>
            <input matInput [(ngModel)]='userData.metadata.creationTime' disabled >
            <mat-hint>Member Since</mat-hint>
        </mat-form-field>

      </div>
      <div mat-dialog-actions>
        <button mat-raised-button (click)="updateUser(displayName.value, emailAddress.value)" [mat-dialog-close]="data.displayName"  color="warn">Update</button>
        <button mat-raised-button (click)="onNoClick()"  color="primary" cdkFocusInitial>Ok</button>
      </div>
      