<div class="container-home">
<div class="sidenav">
    <div class="user-info">
        <div class="avatar" (click) = "openImageCrop()"></div>
        <div class="user-data">
            <h5 class="display-name"> {{user.displayName}}</h5>
            <h5 class="display-name"> {{user.email}} </h5>
        </div>
    </div>
    <ul class="links">
        <li class="link" id="new-folder-li" (click) = "openFolderDialog()"><i class="material-icons"> add </i> 
            New Folder 
        </li>
        <li class="divider"></li>
        <li class="link"> <i class="material-icons"> folder_open </i> 
            Folders 
        </li>
        <div class="folders-container">
        <li class="folders link" id={{folder.uid}} tabindex="0" (click)="setCurrentFolderId(folder.uid)" *ngFor = 'let folder of folders'>
                <!-- <svg height="30" width="30" style="vertical-align: middle !important; margin-top: -8px;">
                        <line x1="10" y1="5" x2="10" y2="15" style="stroke:rgb(148, 148, 148);stroke-width:1" />
                          <line x1="10" y1="15" x2="20" y2="15" style="stroke:rgb(148, 148, 148);stroke-width:1" />
                      </svg> -->
                      <!-- <i class="material-icons">
                        subdirectory_arrow_right
                        </i> -->
            {{folder.name}}</li>
            </div>
            <li class="divider"></li>
        <li class="link" (click)="openProfileDialog()"> <i class="material-icons"> account_box </i> 
            Account 
        </li>
        <li class="link" (click)="logOut()"><i class="material-icons"> exit_to_app </i> 
           Logout 
        </li>
    </ul>
    <div class="banner"> 
            <div class="logo">
                    <img src="../../../assets/images/logo96.png" alt="Logo" height=60px width="60px">
                    </div>
            <svg viewBox="0 0 500 150" preserveAspectRatio="none" >
                    <path d="M-0.84,34.03 C211.34,104.11 409.99,-39.95 501.41,33.05 L512.69,159.38 L0.00,150.00 Z"></path>
                </svg>
    </div>
</div>

<div class="notes-panel">
    <div class="note-toolbar">
        <button mat-button color="primary" class="add-note-btn" (click)="addNote()"  *ngIf = "showNoteBtn" >
            <i class="material-icons"> add </i> 
        </button>
        <button mat-button color="warn" class="delete-folder-btn" (click)="deleteFolder()"   *ngIf = "showNoteBtn" >
            <i class="material-icons"> remove </i> 
        </button>
    </div>
    <!-- starts from 0  -->
    <div class="note" tabindex="0" (click)="showNoteData(note)" *ngFor = 'let note of pinnedNotes; let i = index'>
        <p class="note-side-title">{{note.title.length > 25 ? note.title.substring(0,25) + "..." : note.title}}</p>
        <div class="note-side-pinned" id={{(i*(-1)).toString()}} (mouseenter)="pinHover((i*(-1)).toString(),0,1)" (mouseleave)="pinHover((i*(-1)).toString(),1,0)" (click)="unpinNote(note.uid)">
            <i class="material-icons-round" id="star">star</i>
            <i class="material-icons-round" id="star-border" style="display:none">star_border</i>
        </div>
        <p class="note-side-desc">{{note.description.length > 50 ? note.description.substring(0,50)+"..." : note.description}}</p>
        <p class="note-side-date">{{note.updated}}</p>
     </div>

     <hr style="margin: 0; padding:0">
     <!-- starts from 1 -->
    <div class="note" tabindex="0" (click)="showNoteData(note)" *ngFor = 'let note of notes; let i = index'>
        <p class="note-side-title">{{note.title.length > 25 ? note.title.substring(0,25) + "..." : note.title}}</p>
        <div class="note-side-pinned" id={{(i+1).toString()}} (mouseenter)="pinHover((i+1).toString(),0,1)" (mouseleave)="pinHover((i+1).toString(),1,0)" (click)="pinNote(note.uid)">
            <i class="material-icons-round">star_border</i>
            <i class="material-icons-round" style="display: none">star</i>
        </div>
        <p class="note-side-desc">{{note.description.length > 50 ? note.description.substring(0,50)+"..." : note.description}}</p>
        <p class="note-side-date">{{note.updated}}</p>
     </div>
</div>

<div class="content" *ngIf="showContent">
        <mat-form-field style="width:100% !important">
        <input matInput value={{currentNote.title}} type="text" id="note-title" #noteTitle /><br>
    </mat-form-field>
    <mat-form-field style="width:100% !important; height: 80vh !important;">
        <textarea matInput value={{currentNote.description}} id="note-description" #noteDescription></textarea>
    </mat-form-field>
        <button mat-raised-button color="primary" class="delete-note-btn" (click) = "updateNote(noteTitle.value, noteDescription.value, currentNote.pinned)"  >UPDATE</button>
        <button mat-raised-button color="warn" class="update-note-btn" (click) = "deleteNote()" >DELETE</button>
</div>

<app-add-profile-image  src="../../../assets/images/profile-img.png" *ngIf="showImgCrop"></app-add-profile-image>

</div>