
  <div class="container">
    <div class="login-box mat-elevation-z24" >
        <img src="../../../assets/images/logo.png" alt="NoteDock logo">
        <div class="form">
            <!-- Login -->
            <div class="form-fields">
                <mat-form-field >
                    <input matInput  placeholder="{{'login.enterEmail' | translate}}"  #userName required>
                </mat-form-field>

                <mat-form-field>
                    <input matInput type="password" placeholder="{{'login.enterPassword' | translate}}" #userPassword required >
                </mat-form-field>

                <button mat-raised-button color="primary" (click)='login(userName.value, userPassword.value)' >{{'login.login' | translate}}</button>
                <br>
                <button mat-raised-button color="warn" routerLink="/register" >{{'login.goRegister' | translate}}</button>

                <h5 routerLink="/forgot-password" >{{'login.forgotPass' | translate}}</h5>

            </div>
        </div>
    </div>
</div>
