/* You can add global styles to this file, and also import other style files */

html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }

.mat-progress-bar{
    position: absolute;
    top: 0;
}

.container{
    background-image: url('/assets/images/icon-background.png');
    background-color: rgb(53, 74, 163);
    background-size: contain;
    overflow: hidden;
    height: 100vh;
    width: 100vw;
    display: flex;
    align-content: center;
    justify-content: center;
    align-items: center;

.login-box{
    position: relative;
    display: flex;
    flex-direction: column;
    height: 60vh;
    width: 25vw;
    padding-top: 50px;
    display: flex;
    align-items: flex-start;
    align-items: center;
    justify-content: space-between;
    z-index: 0;
    background-color: rgb(34,34,34);
    border: 8px solid rgb(53, 74, 163);
    outline: 8px solid rgb(34, 34, 34);

    img{
        height: 80px;
        width: auto;
        z-index: 1;
    }
    
        .form{
            width: 100%;
            height: 100%;
            border: none;
            display: flex;
            align-items: center;
            flex-direction: column;
            justify-content: space-between !important;
            margin: auto;



            .form-fields{
                display: flex;
                flex-direction: column;
                margin: auto;
                
                h5{
                    color: rgb(53, 74, 163);
                    text-align: center;
                    cursor: pointer;

                    &:hover{
                        text-decoration: underline;
                    }
                }
                .mat-form-field-empty.mat-form-field-label {
                    color: white;
                }
                .mat-form-field-underline {
                    background-color: white;
                }
                .mat-form-field{
                    outline: none;
                }
                ::ng-deep .mat-form-field {
                    .mat-input-element {
                        color: white;
                    }
                    .mat-form-field-label {
                        color: white;
                    }
                    .mat-form-field-underline {
                        background-color: transparent;
                    }
                    .mat-form-field-ripple {
                        background-color: transparent;
                    }
                    .mat-form-field-required-marker {
                        color: red;
                    }
                }
            }
            }
        }
}

@media screen and (max-width: 360px){
    .login-box{
        width: 100vw !important;
    }
}

@media screen and (max-width: 768px) and (min-width: 361px){
    .login-box{
        width: 80vw !important;
    }
}

@media screen and (max-width: 900px) and (min-width: 769px){ 
    .login-box{
        width: 60vw !important;
    }
}

@media screen and (max-width: 1350px) and (min-width: 901px){
    .login-box{
        width: 35vw !important;
    }
}





